body{
    background: #c53d3d;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.sueño{
    background: mediumorchid;
    color:fuchsia;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px;
}
.msjelemento h1{
    background-color: darksalmon;
    color: black;
}



